.section_homepage{
    min-height: 100vh;
    padding-top: o rem;
    /* padding: 5 rem ; */
    padding: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.section_homepage img{
    
    min-width: 10rem;
    height: 10rem;
    
}
.hero-section-data p{
        font-weight: bold;
        margin: 2rem 0;
    }
    .hero-section-data h1{
        text-transform: capitalize;
        font-weight: bold;





}
.hero-section-data .intro-data{
    margin-top: 0;
}

.hero-section-image{
    margin-top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;


}
.hero-section-image img{
    position: relative;

}
.hero-section-image .img-style{
    width: 100%;
    height: auto;
}
@media (max-width:600px){
    .section_homepage{
        display: flex;
        flex-direction: column;
    }
    .carousel{
        display: flex;
        flex-direction: column;
    }


}
@media (max-width:950px){
    .section_homepage{
        display: flex;
        flex-direction: column;
    }

}

.carousel {
    display: flex;
    overflow-x: auto;
  }