*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
li {
    display: inline;
    padding: .5rem .8rem;
 
}
li:hover{
    background-color: #eeeeee;
    color:black;
border-radius: .6rem;
}

li, a , button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
 background-color: #eeeeee;
 border-bottom: 2px solid rgb(79, 78, 78);
padding: .8rem .5rem;

}
.nav_items{
    list-style: none;
}
